{% load widget_tweaks %}

<div class="bg-image-4" id="window">
  <div class="img-overlay d-flex justify-content-center align-items-center">
    <div class="row px-2">
      <div class="col">
        <form method="post" action="{% url 'main:index' %}">
          {% csrf_token %}
          <legend>Записаться на маникюр</legend>
          <div class="mb-3">
            {% render_field form.name type='text' class='form-control' id='id_name' name='name' placeholder='Ваше имя' %}
            {{ form.name.errors }}
          </div>
          <div class="mb-3">
            {% render_field form.phone type='tel' class='form-control' id='id_phone' name='phone' placeholder='Номер телефона' %}
            {{ form.phone.errors }}
          </div>
          <div class="mb-3">
            {% render_field form.window type='select' class='form-select' id='id_window' name='window' %}
            {{ form.window.errors }}
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btn btn-warning" hx-post="{% url 'main:index' %}" hx-target="#window">Записаться</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
