{% load static %}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner" id="works">
    <div class="carousel-item active">
      <div class="col col-md-6 mx-auto">
        <img src="{{ works.0.url }}" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-caption">
        <a href="#window" class="btn btn-warning">Записаться</a>
      </div>
    </div>
    {% for work in works|slice:"1:" %}
      <div class="carousel-item">
        <div class="col col-md-6 mx-auto">
          <img src="{{ work.url }}" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-caption">
          <a href="#window" class="btn btn-warning">Записаться</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
