{% load static %}

<footer class="py-4 pt-md-5 border-warning border-top bg-body-tertiary" id="footer">
  <div class="row m-auto text-center">
    <div class="col">
      <h2>Мои контакты</h2>
    </div>
  </div>
  <div class="row m-auto text-center">
    <div class="col">
      <h2>+7 (905) 960 26-16</h2>
    </div>
  </div>
  <br />
  <br />
  <div class="row m-auto text-center">
    <div class="col">
      <h2>Я в социальных сетях</h2>
    </div>
  </div>
  <br />
  <div class="row m-auto text-center">
    <div class="col">
      <a class="me-5" href="https://api.whatsapp.com/message/J3MYEINZJEUNN1?autoload=1&app_absent=0"><img width="40" src="{% static 'icons/whatsapp.svg' %}" alt="vk" /></a>
      <a class="" href="https://vk.com/vi_manicure"><img width="40" src="{% static 'icons/vk.svg' %}" alt="vk" /></a>
    </div>
  </div>
  <br />
</footer>
